<td>
    <a target="_blank" href="{{ app.request.basePath }}{{ vich_uploader_asset(object, 'imageFile') }}">
        <img width="50px" height="50px" src="{{ app.request.basePath }}{{ vich_uploader_asset(object, 'imageFile') }}">
    </a>
</td>